body {
    background-image : url('../images/404.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}