* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'IBM Plex Mono', monospace !important; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url("../images/crossover-anime.png");
  background-size: cover;
  position: relative; }
  .header__heading {
    font-size: 40px;
    color: white;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Press Start 2P', cursive;
    border: 1px solid black; }
