<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
    <link rel="icon" href="{%static "images/favicon.png" %}" type="image/png">
    <link rel="stylesheet" href="{%static "css/style.css" %}">
</head>
<body>
    {% if animeObj %}
    {% for an in animeObj %}
    <div class="col-sm-3"> <!-- Bootstrap class to align elements into grid of 4 -->
        <center><object id="{{ an.animeId }}"class="myBtnObj" data="{{ an.imageUrl }}" type="image/png" style="width : 200px; height : 300px;  position : relative; box-shadow : 0 20px 40px rgba(0,0,0,0.2);" onclick="getId(this.id)">
            <center><img id="{{ an.animeId }}" class="myBtnPla" src="{%static "images/placeholder.png" %}" alt="{{ an.name }}" style="width : 200px; height : 300px; border : 1px solid black; position : relative; box-shadow : 0 20px 40px rgba(0,0,0,0.2);"></center> <!-- If the image is unavailable the placeholder image will be used -->
        </object></center>
        <div style="text-align : center;  margin-bottom : 50px;">{{ an.name }}</div>
    </div>
    {% endfor %}

    {% else %}
        <div class="nf">
        </div>
    {% endif %}

</body>
</html>