<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% for an in animeObj %}
    <title>{{ an.name }}</title>
    {% endfor %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
    <link rel="icon" href="{%static "images/favicon.png" %}" type="image/png">
    <link rel="stylesheet" href="{%static "css/bootstrap.css" %}">
</head>
<body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/home" class="navbar-brand"><img src="{%static "images/favicon.png" %}" alt="Logo"></a>
                <center>
                <form name="myform" method="POST" action="{% url 'search' %}"> 
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Search for Anime..."/>
                </form>
            </center> 
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto"> <!-- Margin Left Auto -->
                    
                    <li class="nav-item">
                        <a href="/formpage" class="nav-link btn btn-success">Add New Anime</a>
                    </li>

                    <li class="nav-item">
                        <a href="{%url 'logout'%}" class="btn btn-danger nav-link">Logout</a>
                    </li>
                    
                </ul>
                </div>
            </div>
            </nav>

    {% if animeObj %}

    

        {% for an in animeObj %}
            <div class="container">
                <div class="row">
            <div class="col-sm-3" style=" margin-top : 70px;"> <!-- Bootstrap class to align elements into grid of 4 -->
                <center><object id="{{ an.animeId }}"class="myBtnObj" data="{{ an.imageUrl }}" type="image/png" style="width : 350px; height : 500px;  position : relative; box-shadow : 0 20px 40px rgba(0,0,0,0.2); float : left;" onclick="getId(this.id)">
                    <center><img id="{{ an.animeId }}" class="myBtnPla" src="{%static "images/placeholder.png" %}" alt="{{ an.name }}" style="width : 350px; height : 500px; border : 1px solid black; position : relative; box-shadow : 0 20px 40px rgba(0,0,0,0.2); float : left;"></center> <!-- If the image is unavailable the placeholder image will be used -->
                </object></center>
                <p>Name: {{ an.name }}</p>
                <p>Genre: {{ an.genre }}</p>
                <p>Type: {{ an.animeType }}</p>
                <p>Rating: {{ an.rating }}</p>
                <p>Members: {{ an.members }}</p>
                <p>Episodes: {{ an.episodes }}</p>
            </div>
            
                
            
            </div>
        </div>
        {% endfor %}

    {% else %}
        <div class="nf">
        </div>
    {% endif %}
    <script src="{%static "js/jquery.min.js" %}"></script>
    <script src="{%static "js/popper.min.js" %}"></script>
    <script src="{%static "js/bootstrap.min.js" %}"></script>
</body>
</html>