<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Add A New Anime</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{%static "css/style.css" %}">
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
        <link rel="icon" href="{%static "images/favicon.png" %}" type="image/png">
        <link rel="icon" href="{%static "images/favicon.png" %}" type="image/png">
        <link rel="stylesheet" href="{%static "css/bootstrap.css" %}">
</head>
<body>

    

    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container">
              <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a href="/home" class="navbar-brand"><img src="{%static "images/favicon.png" %}" alt="Logo"></a>
              <center>
              <form name="myform" method="POST" action="{% url 'search' %}"> 
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Search for Anime..."/>
                </form>
            </center> 
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto"> <!-- Margin Left Auto -->
                    
                    <li class="nav-item">
                        <a href="/formpage" class="nav-link btn btn-success">Add New Anime</a>
                    </li>
    
                    <li class="nav-item">
                        <a href="{%url 'logout'%}" class="btn btn-danger nav-link">Logout</a>
                    </li>
                    
                </ul>
              </div>
            </div>
          </nav>
          <div id="home">
    <center>
        <div class="container" style="margin-top : 70px;">
            <form class= "form-horizontal" method="POST">
                <div class="form-control">
                {{form.as_p}}
            </div>
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-lg " value="Submit">
            </form>

        </div>
    </center>
    </div>

    {%else %}
        <h3>Please <a href="/">Login</a> to Add a New Anime</h3>
    {%endif%}

    <script src="{%static "js/jquery.min.js" %}"></script>
  <script src="{%static "js/popper.min.js" %}"></script>
  <script src="{%static "js/bootstrap.min.js" %}"></script>
</body>
</html>