<!DOCTYPE html>
{% load staticfiles %} <!-- Lets Django Know We Want to Load Static Files -->


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tevin Coding Page</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <h1>Hello, This is a Picture of Me Coding</h1>
    <img src="{%static 'images/tevin-coding.jpg' %}" alt="Tevin Coding">
    
</body>
</html>