<!DOCTYPE html>
{% load staticfiles %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Displaying Data</title>
    <link rel="stylesheet" href="{%static "css/style.css" %}">
</head>
<body>  
    <h1>List of Anime</h1>
    <img src="{%static "images/tevin-coding.jpg" %}" alt="">
    <div class="djangTwo">
        {% if anime %}
            <table>
                <thead>
                    <th>Anime Name</th>
                    <th>Genre(s)</th>
                    <th>Type</th>
                    <th>Rating</th>
                    <th>Members</th>
                </thead>

                {% for an in anime %}
                <tr>
                    <td>{{ an.name }}</td>
                    <td>{{ an.genre }}</td>
                    <td>{{ an.animeType }}</td>
                    <td>{{ an.rating }}</td>
                    <td>{{ an.members }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No Anime Found</p>
        {% endif %}
        
    </div>

</body>
</html>