<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="icon" href="{%static "images/favicon.png" %}" type="image/png">
    <link rel="stylesheet" href="{%static "css/bootstrap.css" %}">
</head>
<body>
  {%if user.is_authenticated %}
  <meta http-equiv="refresh" content="1; url=/home">
  <p>Already Logged In</p>
  <p>Redirecting to Homepage...</p>
  {%else%}
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#" class="navbar-brand"><img src="{%static "images/favicon.png" %}" alt="Logo"></a>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto"> <!-- Margin Left Auto -->
              
              <li class="nav-item">
                  <a href="#" class="nav-link">Login</a>
              </li>

              <li class="nav-item">
                  <a href="/register" class="nav-link">Register</a>
              </li>
              
          </ul>
        </div>
      </div>
    </nav>
  <br><br>
  <div class = "container" style="padding-top : 100px;">
    
    
    <h1>Test Credentials</h1>
    <p>Username: johndoe</p>
    <p>Password: password123</p>



    <div class="wrapper">
      <form method="POST" class="form-signin">       
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary"  name="Submit" value="Login" type="Submit">Login</button>  			
      </form>			
    </div>
  </div> 
    {% endif %}

    <script src="{%static "js/jquery.min.js" %}"></script>
    <script src="{%static "js/popper.min.js" %}"></script>
    <script src="{%static "js/bootstrap.min.js" %}"></script>
</body>
</html>