<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {%if user.is_authenticated %}
        <meta http-equiv="refresh" content="3; url=/home">
        <p>Already Registered and Logged In</p>
        <p>Redirecting to Homepage...</p>
    {%else%}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-link" href="/">Login</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" href="#">Register</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-lg " value="Submit">
        </form>
    </div>
    {%endif%}
</body>
</html>