<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <a href="{% url "index" %}"><i class="fa fa-home"></i></a>
    <h1>Search Page</h1>

    {% if animesSearch %}
        {%for an in animesSearch %}
        <div class="col-sm-3"> <!-- Bootstrap class to align elements into grid of 4 -->
            <center><object id="{{ an.animeId }}"class="myBtnObj" data="{{ an.imageUrl }}" type="image/png" style="width : 200px; height : 300px;  position : relative; margin-bottom : 50px;">
                <center><img id="{{ an.animeId }}" class="myBtnPla" src="{%static "images/placeholder.png" %}" alt="{{ an.name }}" style="width : 200px; height : 300px; border : 1px solid black; position : relative; margin-bottom : 50px;"></center> <!-- If the image is unavailable the placeholder image will be used -->
            </object></center>
        </div>
        {%endfor%}
    {% endif %}
</body>
</html>